body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    overflow: hidden;
}
.registerform{
    width: 30%;
    height: 100vh;
    margin: 7% auto;
}
@media screen and ( max-width: 1024px ) {
    .registerform{
            width: 90%;
            margin: 40% auto;
        }

}